{% extends 'base.html.twig' %}

{% block title %}NLshop - Cart{% endblock %}

{% block content %}
<h1>
    Cart
</h1>
{% if cart|length > 0 %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col"></th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Total</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% set total = null %}
  {%for item in cart %}
    <tr>
      <th scope="row"><img src="/uploads/products/{{item.product.image}}" alt="{{item.product.name}}" height="50px"/></th>
      <td><b>{{item.product.name}}</b><br><small>{{item.product.subtitle}}</small></td>
      <td>
        <a href="{{ path('cart_decrease_quantity', {id : item.product.id}) }}">
            <img src="{{asset('assets/img/minus.png')}}" alt="minus" height="15px"/>
        </a>    
        X {{item.quantity}}
        <a href="{{ path('cart_add', {id : item.product.id}) }}">
            <img src="{{asset('assets/img/plus.png')}}" alt="plus" height="15px"/>
        </a>
    </td>    
      <td>{{(item.product.price / 100)|number_format(2)}} $</td>
      <td>{{((item.product.price * item.quantity)/100)|number_format(2)}} $ </td>
      <td>
        <a href="{{path('cart_remove_product', {id:item.product.id})}}">
            <img src="{{asset('assets/img/trash.png')}}" alt="{{item.product.name}}" height="20px"/>
        </a>
    </td>
    </tr>
      {% set total = total + (item.product.price * item.quantity) %}
  {% endfor %}
    
  </tbody>
</table>
<div class="text-right mb-5">
    <p><b>Number of products </b> : {{ cart|length }}</p>
    <p><b>Total (HT) </b> : {{(total/100)|number_format(2)}} $</p>
    <a href="{{path('order')}}" class="btn btn-success btn-block mt-3">Proceed to checkout</a>
</div>
{% else %}
    <p><b>Empty Cart</b></p>
{% endif %}

{% endblock %}
